/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#505050; }
:-webkit-full-screen { background:#505050; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:1920px; height:1080px; }
.page-scale-wrap { width:1920px; height:1080px; background: transparent !important; }
.paper-vertical { width:1920px; height:100%; }
.paper-horizontal { width:11580px; height:1092px; }
@media all and (max-height:1080px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1920px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
body.has-transitions .pages .page {
	display:block;
	z-index:1;
}
body.has-transitions .pages .page.activePage {
	z-index:2;
	transform:none;
	opacity:1;
}
.trans-fade { -webkit-animation:transFade .6s ease-in-out; animation:transFade .6s ease-in-out; }
.trans-left { -webkit-animation:transLeft .6s ease-in-out; animation:transLeft .6s ease-in-out; }
.trans-right { -webkit-animation:transRight .6s ease-in-out; animation:transRight .6s ease-in-out; }
.trans-top { -webkit-animation:transTop .6s ease-in-out; animation:transTop .6s ease-in-out; }
.trans-bottom { -webkit-animation:transBottom .6s ease-in-out; animation:transBottom .6s ease-in-out; }
.trans-none { -webkit-animation:transFade 0s; animation:transFade 0s; }
.trans-out, .trans-reverse {
	-webkit-animation-direction:reverse;
	animation-direction:reverse;
}
.trans-out.trans-reverse {
	webkit-animation-direction:normal;
	animation-direction:normal;
}
@keyframes transFade {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes transFade {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes transRight {
	0% { transform:translateX(100%); }
	100% { transform:translateX(0); }
}
@-webkit-keyframes transRight {
	0% { -webkit-transform:translateX(100%); }
	100% { -webkit-transform:translateX(0); }
}
@keyframes transLeft {
	0% { transform:translateX(-100%); }
	100% { transform:translateX(0); }
}
@-webkit-keyframes transLeft {
	0% { -webkit-transform:translateX(-100%); }
	100% { -webkit-transform:translateX(0); }
}
@keyframes transTop {
	0% { transform:translateY(-100%); }
	100% { transform:translateY(0); }
}
@-webkit-keyframes transTop {
	0% { -webkit-transform:translateY(-100%); }
	100% { -webkit-transform:translateY(0); }
}
@keyframes transBottom {
	0% { transform:translateY(100%); }
	100% { transform:translateY(0); }
}
@-webkit-keyframes transBottom {
	0% { -webkit-transform:translateY(100%); }
	100% { -webkit-transform:translateY(0); }
}
.pageItem.fixed-pos-elem { position:fixed !important; }
.fixed-center-x {
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fixed-center-y {
	top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fixed-center-y.fixed-center-x {
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#item51023 {
	width:1920px !important;
	height:1079px !important;
	background:#000;
}

#item51031 {
	width:7px !important;
	height:29px !important;
	left:284px !important;
	top:6px !important;
	background:#fff;
}

#item51033 {
	width:1780px !important;
	height:881px !important;
	left:70px !important;
	top:198px !important;
	background:#000;
}

@keyframes 확장-53675 {
	0% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
	100% {transform:translate(0px,0px) scaleX(1.2) scaleY(1.2);}
}
@-webkit-keyframes 확장-53675 {
	0% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
	100% {-webkit-transform:translate(0px,0px) scaleX(1.2) scaleY(1.2);}
}
#item52712 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

@keyframes 페이드인-51033 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-51033 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item51039 {
	width:1038px !important;
	left:140px !important;
	top:253px !important;
	min-height:100px !important;
}

#item51062 {
	width:319px !important;
	left:140px !important;
	top:370px !important;
	min-height:32px !important;
}

@keyframes 왼쪽에서날아오기-52336 {
	0% {
		transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽에서날아오기-52336 {
	0% {
		-webkit-transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
@keyframes 왼쪽으로이동-53626 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-1920px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-53626 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-1920px,0px);
		opacity:1;
	}
}
#item53626 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

#item53625 {
	width:1920px !important;
	height:1080px !important;
}

#item53626 {
	width:1920px !important;
	height:1080px !important;
	left:1920px !important;
}

#item46315 {
	width:284px !important;
	height:60px !important;
}

#item46317 {
	width:284px !important;
	height:60px !important;
	border-radius:25px;
	background:#000;
}

#item46318 {
	width:284px !important;
	top:21px !important;
	min-height:20px !important;
}

#item45969 {
	width:284px !important;
	height:60px !important;
}

#item46288 {
	width:284px !important;
	height:60px !important;
	border-radius:25px;
	background:#e93312;
}

#item46289 {
	width:284px !important;
	top:21px !important;
	min-height:20px !important;
}

#item45964 {
	width:284px !important;
	height:60px !important;
	left:140px !important;
	top:622px !important;
}

#item47251 {
	width:57px !important;
	height:43px !important;
}

#item47248 {
	width:57px !important;
	height:43px !important;
}

#item47245.fixed-pos-elem {
	width:57px !important;
	height:43px !important;
	left:auto !important;
	top:50% !important;
	right:0px !important;
}

@keyframes 오른쪽으로이동-38437 {
	0% {
		transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,1080px);
		opacity:0.95;
	}
}
@-webkit-keyframes 오른쪽으로이동-38437 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,1080px);
		opacity:0.95;
	}
}
#item38437 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item38437.fixed-pos-elem {
	opacity:0.95;
	width:100% !important;
	height:100% !important;
	top:-1079px !important;
	background:#000;
}

@keyframes 페이드인-38438 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-38438 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item38440 {
	width:1784px !important;
	height:1080px !important;
}

#item38445 {
	width:32px !important;
	height:32px !important;
}

#item38441 {
	width:32px !important;
	height:32px !important;
	left:876px !important;
	top:225px !important;
}

#item38448 {
	width:284px !important;
	min-height:20px !important;
}

#item38474 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item38498 {
	width:284px !important;
	height:36px !important;
}

#item38472 {
	width:284px !important;
	height:36px !important;
}

#item38523 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item38547 {
	width:284px !important;
	height:36px !important;
}

#item38521 {
	width:284px !important;
	height:36px !important;
	top:36px !important;
}

#item38721 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item38745 {
	width:284px !important;
	height:36px !important;
}

#item38719 {
	width:284px !important;
	height:36px !important;
	left:299px !important;
}

#item38770 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item38794 {
	width:284px !important;
	height:36px !important;
}

#item38768 {
	width:284px !important;
	height:36px !important;
	left:299px !important;
	top:36px !important;
}

#item38967 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item38992 {
	width:284px !important;
	height:36px !important;
}

#item38965 {
	width:284px !important;
	height:36px !important;
	left:598px !important;
}

#item39215 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39239 {
	width:284px !important;
	height:36px !important;
}

#item39213 {
	width:284px !important;
	height:36px !important;
	left:897px !important;
}

#item39264 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39288 {
	width:284px !important;
	height:36px !important;
}

#item39262 {
	width:284px !important;
	height:36px !important;
	left:897px !important;
	top:36px !important;
}

#item39313 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39337 {
	width:284px !important;
	height:36px !important;
}

#item39311 {
	width:284px !important;
	height:36px !important;
	left:897px !important;
	top:72px !important;
}

#item39362 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39386 {
	width:284px !important;
	height:36px !important;
}

#item39360 {
	width:284px !important;
	height:36px !important;
	left:897px !important;
	top:108px !important;
}

#item39411 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39435 {
	width:284px !important;
	height:36px !important;
}

#item39409 {
	width:284px !important;
	height:36px !important;
	left:897px !important;
	top:144px !important;
}

#item39460 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39485 {
	width:284px !important;
	height:36px !important;
}

#item39458 {
	width:284px !important;
	height:36px !important;
	left:1197px !important;
}

#item39510 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39534 {
	width:284px !important;
	height:36px !important;
}

#item39508 {
	width:284px !important;
	height:36px !important;
	left:1197px !important;
	top:36px !important;
}

#item39609 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39633 {
	width:284px !important;
	height:36px !important;
}

#item39607 {
	width:284px !important;
	height:36px !important;
	left:1496px !important;
}

#item39658 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39682 {
	width:284px !important;
	height:36px !important;
}

#item39656 {
	width:284px !important;
	height:36px !important;
	left:1496px !important;
	top:36px !important;
}

#item39707 {
	width:284px !important;
	height:36px !important;
	background:#e93312;
}

#item39731 {
	width:284px !important;
	height:36px !important;
}

#item39705 {
	width:284px !important;
	height:36px !important;
	left:1496px !important;
	top:72px !important;
}

#item39853 {
	width:284px !important;
	left:299px !important;
	min-height:20px !important;
}

#item39876 {
	width:284px !important;
	left:598px !important;
	min-height:20px !important;
}

#item39899 {
	width:284px !important;
	left:898px !important;
	min-height:20px !important;
}

#item39922 {
	width:284px !important;
	left:1197px !important;
	min-height:20px !important;
}

#item39945 {
	width:284px !important;
	left:1496px !important;
	min-height:20px !important;
}

#item38438.fixed-pos-elem {
	width:68px !important;
	height:1080px !important;
	left:68px !important;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item39969.fixed-pos-elem {
	width:100% !important;
	height:40px !important;
	background:#e4dcd3;
}

#item39977 {
	width:3px !important;
	height:14px !important;
	left:135px !important;
	top:3px !important;
	background:#002c5f;
}

#item39970.fixed-pos-elem {
	width:22px !important;
	height:19px !important;
	left:22px !important;
	top:10px !important;
}

#item39990 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
	background:#c1c1c1;
}

#item39985 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
}

#item39980 {
	width:32px !important;
	height:32px !important;
	left:8px !important;
}

#item40003 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
	background:#c1c1c1;
}

#item39999 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
}

#item39994 {
	width:32px !important;
	height:32px !important;
	left:72px !important;
}

#item40014 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
	background:#c1c1c1;
}

#item40017 {
	width:38px !important;
	height:2px !important;
	top:17px !important;
	background:#000;
	border:solid 0.5px #000;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40009 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
}

#item40012 {
	width:38px !important;
	height:2px !important;
	top:17px !important;
	background:#676767;
	border:solid 0.5px #676767;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40005 {
	width:32px !important;
	height:32px !important;
	left:104px !important;
}

#item40032 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
	background:#c1c1c1;
}

#item40034 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:5px !important;
	background:#000;
	border:solid 0.5px #000;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40035 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:8px !important;
	background:#000;
	border:solid 0.5px #000;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40036 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:12px !important;
	background:#000;
	border:solid 0.5px #000;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40024 {
	opacity:0.50;
	width:32px !important;
	height:32px !important;
	border-radius:4px;
}

#item40026 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:5px !important;
	background:#676767;
	border:solid 0.5px #676767;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40027 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:8px !important;
	background:#676767;
	border:solid 0.5px #676767;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40029 {
	width:20px !important;
	height:2px !important;
	left:4px !important;
	top:12px !important;
	background:#676767;
	border:solid 0.5px #676767;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item40018 {
	width:32px !important;
	height:32px !important;
	left:40px !important;
}

@keyframes 페이드인-40038 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-40038 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item40039 {
	opacity:0.80;
	width:47px !important;
	height:15px !important;
	border-radius:3px;
	background:#e4dcd3;
}

#item40040 {
	width:39px !important;
	left:4px !important;
	top:1px !important;
	min-height:13px !important;
}

@keyframes 페이드인-40063 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-40063 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item40064 {
	opacity:0.80;
	width:79px !important;
	height:15px !important;
	border-radius:3px;
	background:#e4dcd3;
}

#item40065 {
	width:70px !important;
	left:4px !important;
	top:1px !important;
	min-height:13px !important;
}

@keyframes 페이드인-40088 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-40088 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item40089 {
	opacity:0.80;
	width:104px !important;
	height:15px !important;
	border-radius:3px;
	background:#e4dcd3;
}

#item40090 {
	width:91px !important;
	left:6px !important;
	top:1px !important;
	min-height:13px !important;
}

@keyframes 페이드인-40113 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-40113 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item40114 {
	opacity:0.80;
	width:47px !important;
	height:15px !important;
	border-radius:3px;
	background:#e4dcd3;
}

#item40115 {
	width:36px !important;
	left:6px !important;
	top:1px !important;
	min-height:13px !important;
}

#item39979.fixed-pos-elem {
	width:136px !important;
	height:56px !important;
	left:auto !important;
	top:4px !important;
	right:22px !important;
}

#item40139 {
	width:162px !important;
	left:32px !important;
	top:14px !important;
	min-height:13px !important;
}

#item40138.fixed-pos-elem {
	width:259px !important;
	height:40px !important;
	left:188px !important;
}

@keyframes 오른쪽으로이동-47220 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(0px,40px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽으로이동-47220 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(0px,40px);
		opacity:1;
	}
}
#item47220 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item47219 {
	width:128px !important;
	height:40px !important;
}

#item47187 {
	width:34px !important;
	height:40px !important;
}

#item47189 {
	width:34px !important;
	height:40px !important;
	left:30px !important;
}

#item47220.fixed-pos-elem {
	width:128px !important;
	height:40px !important;
	left:auto !important;
	top:-40px !important;
	right:21px !important;
}

@keyframes 왼쪽으로이동-53606 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(0px,-1080px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-53606 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(0px,-1080px);
		opacity:1;
	}
}
#item53442 {
	width:1920px !important;
	height:1080px !important;
}

#item51607 {
	width:77px !important;
	left:973px !important;
	min-height:101px !important;
}

@keyframes 페이드인-51607 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-51607 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item51584 {
	width:58px !important;
	left:896px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51584 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51584 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51561 {
	width:77px !important;
	left:795px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51561 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51561 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51538 {
	width:29px !important;
	left:766px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51538 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51538 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51515 {
	width:77px !important;
	left:689px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51515 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51515 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51492 {
	width:77px !important;
	left:612px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51492 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51492 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51463 {
	width:29px !important;
	left:583px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51463 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51463 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51439 {
	width:89px !important;
	left:475px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51439 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51439 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51416 {
	width:58px !important;
	left:417px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51416 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51416 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51393 {
	width:62px !important;
	left:355px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51393 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51393 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51370 {
	width:40px !important;
	left:315px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51370 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51370 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51347 {
	width:26px !important;
	left:289px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51347 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51347 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51319 {
	width:26px !important;
	left:263px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51319 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51319 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51296 {
	width:65px !important;
	left:198px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51296 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51296 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51273 {
	width:58px !important;
	left:120px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51273 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51273 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51250 {
	width:62px !important;
	left:59px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51250 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51250 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item51201 {
	width:59px !important;
	min-height:101px !important;
}

@keyframes 나타내기-51201 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-51201 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@keyframes 나타내기-53446 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-53446 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item53418 {
	width:139px !important;
	height:18px !important;
}

#item53446 {
	width:139px !important;
	height:75px !important;
	left:891px !important;
	top:934px !important;
}

#item53449 {
	opacity:0.85;
	width:1920px !important;
	height:1080px !important;
	background:#000;
}

#item53450 {
	width:1481px !important;
	left:220px !important;
	top:376px !important;
	min-height:101px !important;
}

#item53473 {
	width:583px !important;
	left:70px !important;
	top:564px !important;
	min-height:100px !important;
}

#item53496 {
	width:583px !important;
	left:668px !important;
	top:564px !important;
	min-height:100px !important;
}

#item53520 {
	width:583px !important;
	left:1267px !important;
	top:564px !important;
	min-height:100px !important;
}

#item53550 {
	width:49px !important;
	top:6px !important;
	min-height:22px !important;
}

#item53573 {
	width:1596px !important;
	left:220px !important;
	top:937px !important;
	min-height:24px !important;
}

#item53598 {
	width:84px !important;
	height:60px !important;
}

#item53596 {
	width:84px !important;
	height:60px !important;
	left:919px !important;
	top:78px !important;
}

#item53638 {
	width:57px !important;
	height:43px !important;
}

#item53641 {
	width:57px !important;
	height:43px !important;
}

#item53635.fixed-pos-elem {
	width:0px !important;
	height:43px !important;
	top:50% !important;
}

#item47259 {
	width:57px !important;
	height:43px !important;
}

#item47256 {
	width:57px !important;
	height:43px !important;
}

#item47253.fixed-pos-elem {
	width:0px !important;
	height:43px !important;
	top:50% !important;
}

#item53634_container {
	width:1920px !important;
	height:1080px !important;
	background:#000;
}

@keyframes 오른쪽에서날아오기-49713 {
	0% {
		transform:translate(0px,-90px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-49713 {
	0% {
		-webkit-transform:translate(0px,-90px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item49713 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item49714 {
	opacity:0.90;
	width:1920px !important;
	height:100px !important;
	background:#676767;
}

#item49715 {
	width:1481px !important;
	left:220px !important;
	top:50px !important;
	min-height:50px !important;
}

#item49738 {
	width:1920px !important;
	height:128px !important;
	background:#000;
}

#item49974 {
	width:67px !important;
	height:29px !important;
	left:70px !important;
	top:71px !important;
}

#item49816 {
	width:907px !important;
	left:220px !important;
	top:70px !important;
	min-height:40px !important;
}

@keyframes 오른쪽에서날아오기-49816 {
	0% {
		transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-49816 {
	0% {
		-webkit-transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item49816 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

@keyframes 오른쪽에서날아오기-49362 {
	0% {
		transform:translate(0px,-100px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-49362 {
	0% {
		-webkit-transform:translate(0px,-100px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item49362 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item49339 {
	width:1481px !important;
	left:220px !important;
	top:50px !important;
	min-height:50px !important;
}

#item49277 {
	width:1920px !important;
	height:128px !important;
	background:#000;
}

@keyframes 오른쪽에서날아오기-50370 {
	0% {
		transform:translate(0px,249px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-50370 {
	0% {
		-webkit-transform:translate(0px,249px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item50370 {
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}

#item49378 {
	opacity:0.90;
	width:1920px !important;
	height:240px !important;
	background:#111111;
}

#item49402 {
	width:1481px !important;
	left:220px !important;
	top:30px !important;
	min-height:140px !important;
}

#item49522 {
	width:49px !important;
	top:6px !important;
	min-height:22px !important;
}

#item49195 {
	width:907px !important;
	left:220px !important;
	top:70px !important;
	min-height:40px !important;
}

@keyframes 오른쪽에서날아오기-49195 {
	0% {
		transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-49195 {
	0% {
		-webkit-transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item49195 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

#item49252 {
	width:80px !important;
	left:70px !important;
	top:71px !important;
	min-height:15px !important;
}

@keyframes 축소-49252 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-49252 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@keyframes 왼쪽으로이동-49614 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-259px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-49614 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-259px,0px);
		opacity:1;
	}
}
#item49614 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item49615 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-49616 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-49616 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item49618 {
	width:80px !important;
	height:80px !important;
}

#item49616 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

@keyframes 왼쪽으로이동-49622 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-169px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-49622 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-169px,0px);
		opacity:1;
	}
}
#item49622 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item49623 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-49624 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-49624 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item49626 {
	width:80px !important;
	height:80px !important;
}

#item49624 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

#item51674 {
	opacity:0.85;
	width:1920px !important;
	height:1080px !important;
	background:#000;
}

#item50797 {
	width:1920px !important;
	height:128px !important;
	background:#000;
}

#item50899 {
	width:907px !important;
	left:220px !important;
	top:70px !important;
	min-height:40px !important;
}

@keyframes 오른쪽에서날아오기-50899 {
	0% {
		transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-50899 {
	0% {
		-webkit-transform:translate(100px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item50899 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

#item50922 {
	width:83px !important;
	left:70px !important;
	top:71px !important;
	min-height:15px !important;
}

@keyframes 축소-50922 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-50922 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@keyframes 오른쪽에서날아오기-52256 {
	0% {
		transform:translate(0px,240px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-52256 {
	0% {
		-webkit-transform:translate(0px,240px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item52256 {
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}

#item51695 {
	width:1780px !important;
	height:425px !important;
	background:#111111;
}

#item51698 {
	width:876px !important;
	left:150px !important;
	top:92px !important;
	min-height:56px !important;
}

#item51887 {
	width:876px !important;
	left:150px !important;
	top:192px !important;
	min-height:74px !important;
}

#item51856 {
	width:876px !important;
	left:150px !important;
	top:35px !important;
	min-height:40px !important;
}

#item51727 {
	width:733px !important;
	height:390px !important;
	left:1047px !important;
}

#item52224 {
	width:60px !important;
	height:60px !important;
	left:1067px !important;
	top:20px !important;
}

#item52216 {
	width:733px !important;
	height:338px !important;
	left:1047px !important;
	top:87px !important;
}

#item52536 {
	width:733px !important;
	height:340px !important;
	background:#e93312;
}

@keyframes 페이드아웃-59821 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes 페이드아웃-59821 {
	0% {opacity:1;}
	100% {opacity:0;}
}
#item52537 {
	width:30px !important;
	height:30px !important;
	left:35px !important;
	top:35px !important;
}

@keyframes 왼쪽으로이동-52216 {
	0% {
		transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,-87px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-52216 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,-87px);
		opacity:1;
	}
}
#item52216 {
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}

#item51853 {
	width:1780px !important;
	height:87px !important;
	top:338px !important;
	background:#000;
}

#item51802 {
	width:1372px !important;
	left:150px !important;
	top:370px !important;
	min-height:24px !important;
}

#item51830 {
	width:49px !important;
	top:6px !important;
	min-height:22px !important;
}

@keyframes 오른쪽에서날아오기-52257 {
	0% {
		transform:translate(0px,-212px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 오른쪽에서날아오기-52257 {
	0% {
		-webkit-transform:translate(0px,-212px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item52257 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item51962 {
	width:1780px !important;
	height:425px !important;
	background:#111111;
}

#item51963 {
	width:876px !important;
	left:150px !important;
	top:92px !important;
	min-height:90px !important;
}

#item51986 {
	width:876px !important;
	left:150px !important;
	top:220px !important;
	min-height:74px !important;
}

#item52009 {
	width:876px !important;
	left:150px !important;
	top:35px !important;
	min-height:40px !important;
}

#item52032 {
	width:698px !important;
	height:355px !important;
	left:1047px !important;
	top:35px !important;
}

#item52104 {
	width:49px !important;
	height:32px !important;
	left:35px !important;
	top:34px !important;
}

#item52144 {
	width:733px !important;
	height:390px !important;
	left:1047px !important;
}

#item52637 {
	width:312px !important;
	height:137px !important;
	left:38px !important;
	top:126px !important;
}

#item52250 {
	width:60px !important;
	height:60px !important;
	left:1067px !important;
	top:20px !important;
}

#item52241 {
	width:733px !important;
	height:340px !important;
	left:1047px !important;
	top:85px !important;
}

#item52493 {
	width:821px !important;
	height:340px !important;
	left:-44px !important;
	background:#e93312;
}

@keyframes 페이드아웃-60104 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes 페이드아웃-60104 {
	0% {opacity:1;}
	100% {opacity:0;}
}
#item52494 {
	width:30px !important;
	height:30px !important;
	left:35px !important;
	top:35px !important;
}

@keyframes 왼쪽으로이동-52241 {
	0% {
		transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,-85px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-52241 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,-85px);
		opacity:1;
	}
}
#item52241 {
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}

#item52038 {
	width:1780px !important;
	height:87px !important;
	top:338px !important;
	background:#000;
}

#item52039 {
	width:1546px !important;
	left:150px !important;
	top:370px !important;
	min-height:24px !important;
}

#item52067 {
	width:49px !important;
	top:6px !important;
	min-height:22px !important;
}

@keyframes 왼쪽으로이동-50945 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-259px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-50945 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-259px,0px);
		opacity:1;
	}
}
#item50945 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item50946 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-50947 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-50947 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item50954 {
	width:80px !important;
	height:80px !important;
}

#item50947 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

@keyframes 왼쪽으로이동-52279 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-259px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-52279 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-259px,0px);
		opacity:1;
	}
}
#item52279 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item52281 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-52282 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-52282 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item52289 {
	width:80px !important;
	height:80px !important;
}

#item52282 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

@keyframes 왼쪽으로이동-50960 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-169px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-50960 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-169px,0px);
		opacity:1;
	}
}
#item50960 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item50961 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-50962 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-50962 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item50969 {
	width:80px !important;
	height:80px !important;
}

#item50962 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

@keyframes 왼쪽으로이동-52295 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-169px,0px);
		opacity:1;
	}
}
@-webkit-keyframes 왼쪽으로이동-52295 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-169px,0px);
		opacity:1;
	}
}
#item52295 {
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}

#item52296 {
	width:90px !important;
	height:90px !important;
}

@keyframes 축소-52297 {
	0% {
		transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes 축소-52297 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.85) scaleY(0.85);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item52304 {
	width:80px !important;
	height:80px !important;
}

#item52297 {
	width:80px !important;
	height:80px !important;
	left:5px !important;
	top:5px !important;
}

#item53332 {
	width:1920px !important;
	height:1080px !important;
	background:#000;
}

@keyframes 페이드인-52772 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-52772 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item52777 {
	opacity:0.85;
	width:1920px !important;
	height:1080px !important;
	background:#000;
}

@keyframes 나타내기-53391 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes 나타내기-53391 {
	0% {opacity:0;}
	57% {opacity:0;}
	64% {opacity:1;}
	100% {opacity:1;}
}
#item53361 {
	width:168px !important;
	height:71px !important;
	left:199px !important;
	top:1px !important;
}

#item53383 {
	width:4px !important;
	height:18px !important;
	left:123px !important;
	top:55px !important;
	background:#fff;
}

#item53392 {
	width:876px !important;
	left:522px !important;
	top:980px !important;
	min-height:40px !important;
}

@keyframes 페이드인-53392 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes 페이드인-53392 {
	0% {opacity:0;}
	100% {opacity:1;}
}#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
